body{
background:#0e0e0e;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

.logo{
color:gold;
font-size:24px;
font-weight:bold;
}

.hero{
text-align:center;
padding:60px;
background:#111;
}

.products{
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:#1a1a1a;
border-radius:10px;
overflow:hidden;
}

.card img{
width:100%;
}

.info{
padding:15px;
}

.price{
color:gold;
font-size:20px;
}

.stock{
font-size:13px;
margin:10px 0;
}

button{
background:gold;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
width:100%;
}

.buy{
display:block;
margin-top:10px;
background:#25D366;
padding:10px;
text-align:center;
color:white;
text-decoration:none;
border-radius:6px;
}

footer{
background:black;
text-align:center;
padding:40px;
margin-top:50px;
}
